<section>
    <div class="page-header">
        <h2>
            <span data-i18n="views.instances.title"></span>
            <small data-i18n="views.instances.subtitle"></small>
        </h2>

    </div>

    <div class="panel panel-default">
        <table class="table">
            <thead>
            <tr>
                <th data-i18n="views.instances.columns.instance"></th>
                <th data-i18n="views.instances.columns.model"></th>
                <th data-i18n="views.instances.columns.status"></th>
                <th data-i18n="views.instances.columns.actions"></th>
            </tr>
            </thead>
            <tbody data-bind="foreach: instances">
            <tr>
                <td>
                    <a class="btn-xs" href="#" title="Info" data-bind="text: instance"></a>
                </td>
                <td data-bind="text: model"></td>
                <td>
                    <span class="label" data-bind="attr: { 'data-i18n': 'views.instances.status.' + ($index() ? 'queued' : 'running') }, css: { 'label-success': !$index(), 'label-warning': $index() }"></span>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-xs" data-bind="attr: { 'data-i18n': '[title]views.instances.actions.up' }, disable: $index() < 2, click: function() { $parent.instances.splice($index() - 1, 0, $parent.instances.splice($index(), 1)[0]) }">
                        <i class="fa fa-caret-up"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" data-bind="attr: { 'data-i18n': '[title]views.instances.actions.up' }, disable: $index() < 1 || $index() === $parent.instances().length - 1, click: function() { $parent.instances.splice($index() + 1, 0, $parent.instances.splice($index(), 1)[0]) }">
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" data-bind="attr: { 'data-i18n': '[title]views.instances.actions.dequeue' }, visible: $index() > 0, click: function() { $parent.instances.remove($data) }">
                        <i class="fa fa-times"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" data-bind="attr: { 'data-i18n': '[title]views.instances.actions.cancel' }, visible: $index() === 0, click: function() { $parent.instances.remove($data) }">
                        <i class="fa fa-power-off"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>