<section>
    <div class="page-header">
        <h2>
            <span>Contact Information</span> <small></small>
        </h2>
    </div>

    <address>
        <strong>INGAR, Instituto de Desarrollo y Diseño</strong><br>
        Avellaneda 3657<br>
        Santa Fe, Argentina<br>
        <abbr title="Phone">Phone:</abbr> (54-342) 453-5568 / 455-4809 / 455-5229<br>
        <abbr title="Fax">Fax:</abbr> (54-342) 455-3439
    </address>

    <address>
        <strong>Full Name</strong><br>
        <a href="mailto:#">first.last@example.com</a>
    </address>

    <address>
        <strong>Full Name</strong><br>
        <a href="mailto:#">first.last@example.com</a>
    </address>
</section>