<section>
    <div class="page-header">
        <h2>
            <span data-i18n="views.models.title"></span>
            <small data-i18n="views.models.subtitle"></small>
        </h2>
    </div>
    <div class="list-group" data-bind="foreach: models">
        <a href="#" class="list-group-item" data-bind="attr: { href: '#' + name, title: 'Click to create a new instance of execution for ' + title }, click: $parent.select">
            <h4 class="list-group-item-heading" data-bind="text: title"></h4>

            <p class="list-group-item-text" data-bind="text: description"></p>
        </a>
    </div>
</section>