<div class="modal-title">
    <alert close="$close()">
        <h3 translate="sections.about.title"></h3>

        <p translate="sections.about.subtitle"></p>
    </alert>
</div>

<div class="modal-body">
    <address>
        <strong>INGAR, Instituto de Desarrollo y Diseño</strong><br>
        Avellaneda 3657<br>
        Santa Fe, Argentina<br>
        <br>
        <abbr title="{{ 'sections.about.phone' | translate }}" translate="sections.about.phone">
            Phone</abbr>: (54-342) 453-5568 / 455-4809 / 455-5229<br>
        <abbr title="{{ 'sections.about.fax' | translate }}" translate="sections.about.fax">
            Fax</abbr>: (54-342) 455-3439
    </address>

    <address>
        <strong>John Doe</strong><br>
        <a href="mailto:#">john.doe@example.com</a>
    </address>

    <address>
        <strong>Juan Pérez</strong><br>
        <a href="mailto:#">juan.perez@example.com</a>
    </address>

</div>

<div class="modal-footer">
    <a class="btn btn-default pull-left" href="https://github.com/sistemica/gams2web" target="_blank"
       title="{{ 'messages.go_to_dev' | translate }}">
        <i class="glyphicon glyphicon-new-window"></i>
    </a>

    <div class="btn-group">
        <button class="btn btn-default" ng-click="$close()" translate="sections.about.close"></button>
    </div>
</div>