<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header hidden-xs">
            <a class="navbar-link navbar-brand " href="https://github.com/sgaliano/gams2web" target="_blank">
                <span translate="SITE.BRANDING"></span>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li ng-repeat="lang_code in languages" ng-class="{ active: currentLanguage() === lang_code }">
                <a class="text-muted" href ng-click="changeLanguage(lang_code)">
                    <small>{{ 'SITE.LANGUAGES.' + lang_code | translate }}</small>
                </a>
            </li>
        </ul>
    </div>
</div>
