<div class="modal-title">
    <alert close="cancel()">
        <h3>
            {{ model.title }}
            <small></small>
        </h3>

        <p>{{ model.description }}</p>
    </alert>
</div>

<form class="form-horizontal" role="form" name="modelForm" ng-submit="run()">
    <div class="modal-body">
        <div ng-if="model.instructions" class="form-group">
            <label class="col-sm-2 control-label">Instructions</label>

            <div class="col-sm-10">
                <p ng-repeat="item in model.instructions" class="form-control-static">⚫ {{ item }}</p>
            </div>
        </div>

        <hr ng-repeat-start="field in model.params">
        <div class="form-group" ng-repeat-end>
            <label class="col-sm-2 control-label">{{ field.label }}</label>

            <div class="col-sm-10">
                <p ng-if="field.type == 'text' && field.options.disabled"
                   class="form-control-static">{{ field.options.default }}</p>

                <matrix ng-if="field.type == 'matrix'" nrows="{{ field.options.rows }}"
                        ncols="{{ field.options.columns }}" val="mat">
                    <input class="form-control input-sm text-center" name="{{ field.id }}[{{ i }}][{{ j }}]"
                           ng-model="value[i][j]" type="number" min="1" max="9" minlength="{{ field.options.length }}"
                           maxlength="{{ field.options.length }}"/>
                </matrix>

                <span class="help-block">{{ field.helpText }}</span>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-disabled="modelForm.$invalid">Run model</button>
    </div>
</form>