<div class="modal-title">
    <alert close="$close()">
        <h3 translate="MESSAGES.RUN_MODEL"></h3>

        <p translate="MESSAGES.SELECT_MODEL"></p>
    </alert>
</div>

<div class="modal-body">
    <div class="list-group">
        <a ng-repeat="model in data.models.all() | orderBy:'title'" ui-sref="runModel({ model: model.name })"
           class="list-group-item"
           ng-click="$close()">
            <div ng-repeat="flag in model.flags | reverse" class="pull-right hidden-xs">
                <span class="label label-{{ flag.type || 'default' }}">
                    {{ flag.label || flag }}
                </span>
            </div>

            <h4 class="list-group-item-heading">{{ model.title }}</h4>

            <p class="list-group-item-text">{{ model.description }}</p>
        </a>
    </div>
</div>