<form ng-if="model" class="form-horizontal" role="form" name="form" ng-submit="api.runModel(model, formData)">
  <div class="page-header">
    <h2><span>{{ model.title }}</span></h2>

    <p>{{ model.description }}</p>
  </div>

  <div ng-if="model.display_options.show_instructions">
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ model.instructions.label }}</label>

      <div class="col-sm-10" ng-bind-html="model.instructions.content"></div>
    </div>
    <hr>
  </div>

  <div class="form-group" ng-repeat-start="field in model.parameters">
    <label class="col-sm-2 control-label">{{ field.metadata.label || field.id }}</label>

    <div class="col-sm-10">
      <field options="field" form-data="formData" fields-data="model.parameters" value="formData[field.id]"/>

      <div class="help-block" ng-bind-html="field.metadata.help_text"></div>
    </div>
  </div>
  <hr ng-repeat-end>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">
        {{ 'messages.run_model' | translate }}
      </button>
    </div>
  </div>
</form>
