<div class="modal-title">
    <alert close="$close()">
        <h3>Run model</h3>

        <p>Select the model you want to run from the following list</p>
    </alert>
</div>

<div class="modal-body">
    <div class="list-group">
        <a ng-repeat="model in data.models | orderBy:'title'" ui-sref="root.run({ model: model.name })" class="list-group-item"
           ng-click="$close()">
            <div ng-repeat="flag in model.flags | reverse" class="pull-right hidden-xs">
                <span class="label label-{{ flag.type || 'default' }}">
                    {{ flag.label || flag }}
                </span>
            </div>

            <h4 class="list-group-item-heading">{{ model.title }}</h4>

            <p class="list-group-item-text">{{ model.description }}</p>
        </a>
    </div>
</div>
<div class="modal-footer visible-md visible-lg sr-only">
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>
