<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="menuVisible = !menuVisible">
                <span class="sr-only" translate="MENU.TOGGLE_NAV"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home" translate="SITE.TITLE"></a>
        </div>
        <div class="navbar-collapse" collapse="!menuVisible">
            <p ng-if="data" class="navbar-text navbar-left visible-md visible-lg">
                <a ui-sref="home" class="navbar-link" title="Status" ng-switch="data.tasks.length">
                    <span ng-switch-when="0">
                        {{ 'MESSAGES.NO_MODEL_RUNNING' | translate }}
                    </span>
                    <span ng-switch-when="1">
                        {{ 'MESSAGES.ONE_MODEL_RUNNING' | translate }}
                    </span>
                    <span ng-switch-default>
                        {{ 'MESSAGES.COUNT_MODEL_RUNNING' | translate: { count: data.tasks.length } }}
                    </span>
                </a>
            </p>
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ui- translate="MENU.HOME"></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span translate="MENU.MODELS"></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li ui-sref-active="active" ng-repeat="model in data.models | orderBy:'title'"
                            role="presentation">
                            <a ui-sref="model({ model: model.name })" tabindex="-1">{{ model.title }}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href ng-click="showAboutDialog()" translate="MENU.ABOUT"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>