<div class="panel panel-default">
    <div class="panel-body">
        <h3 translate="sections.task_report.title"></h3>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" translate="properties.model.title"></label>

                <div class="col-sm-10">
                    <p class="form-control-static">{{ task.model.title }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" translate="properties.model.description"></label>

                <div class="col-sm-10">
                    <p class="form-control-static">{{ task.model.description }}</p>
                </div>
            </div>
            <div class="form-group" ng-if="task.status">
                <label class="col-sm-2 control-label" translate="properties.task.status"></label>

                <div class="col-sm-10">
                    <p class="form-control-static">
                        {{ 'properties.task.status.' + task.status | lowercase | translate }}
                    </p>
                </div>
            </div>
        </div>
        <div ng-if="task.result">
            <tabset>
                <tab heading="{{ 'properties.result.output' | translate }}" disabled="!task.result.output">
                    <br>

                    <div class="table-responsive">
                        <table class="table table-condensed table-striped">
                            <thead>
                            <th translate="properties.result.name"></th>
                            <th width="40%" class="hidden-xs" translate="properties.result.description">Description</th>
                            <th class="visible-lg" translate="properties.result.type"></th>
                            <th translate="properties.result.value"></th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="value in task.result.output">
                                <td>
                                    <em>{{ value.name }}</em>
                                </td>
                                <td class="hidden-xs">
                                    {{ value.description }}
                                </td>
                                <td class="visible-lg">
                                    <span>
                                        {{ 'properties.gams.type.' + value.type | translate | lowercase }}
                                    </span>
                                    <span class="hidden" ng-if="value.subtype">
                                         ({{ 'properties.gams.' + value.type + '_type.' + value.subtype | translate }})
                                    </span>
                                </td>
                                <td ng-switch="value.type">
                                    <span ng-switch-when="equation">
                                        <span ng-repeat="v in value.values">
                                            <span >
                                                {{ v.elements.join(', ') }} = {{ v.value }} <br>
                                            </span>
                                        </span>
                                    </span>

                                    <span ng-switch-when="parameter">
                                        <span ng-repeat="v in value.values">
                                            {{ v.elements.join(', ') }} = {{ v.value }} <br>
                                        </span>
                                    </span>

                                    <span ng-switch-when="set">
                                        {{ value.elements.join(', ') }}
                                    </span>

                                    <span ng-switch-when="variable">
                                        <span ng-repeat="v in value.values">
                                            {{ v.elements.join(', ') }} = {{ v.level }} <br>
                                        </span>
                                    </span>

                                    <span ng-switch-default>
                                        <span ng-repeat="v in value.values">
                                            {{ v.elements.join(', ') }} = {{ v.level }} <br>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
                <tab heading="{{ 'properties.result.log' | translate }}" disabled="!task.result.log">
                    <br>
                    <pre>{{ decode(task.result.log) }}</pre>
                </tab>
            </tabset>
        </div>
    </div>
</div>
