<div ng-if="tasks.isEmpty()" class="text-center">
    <span>{{ 'MESSAGES.NO_MODEL_RUNNING' | translate }}</span>
</div>

<div ng-if="!tasks.isEmpty()">
    <table class="table">
        <thead>
        <th translate="properties.task.model_title"></th>
        <th class="hidden-xs" translate="properties.task.created"></th>
        <th width="40%" translate="properties.task.status"></th>
        <th></th>
        </thead>
        <tbody>
        <tr ng-repeat="task in tasks.list()">
            <td>
                <a ui-sref="app.report({ taskId: task.id })">
                    {{ 'models.' + task.model + '.title' | translate }}
                </a>
            </td>
            <td class="hidden-xs">
                {{ task.created | date: 'short' }}
            </td>
            <td ng-switch="task.status">
                <div ng-switch-default>
                    <progressbar type="info" value="100" animate="false">
                        {{ 'properties.task.status.' + task.status | lowercase | translate }}
                    </progressbar>
                </div>

                <div ng-switch-when="STARTED">
                    <progressbar type="warning" value="100" class="progress-striped active">
                        {{ 'properties.task.status.' + task.status | lowercase | translate }}
                        <span ng-if="task.remainingTime" class="hidden-xs">(ETA {{ task.remainingTime }})</span>
                    </progressbar>
                </div>

                <div ng-switch-when="SUCCESS">
                    <progressbar type="success" value="100" animate="false">
                        {{ 'properties.task.status.' + task.status | lowercase | translate }}
                        <span ng-if="task.remainingTime" class="hidden-xs">(ETA {{ task.remainingTime }})</span>
                    </progressbar>
                </div>

                <div ng-switch-when="FAILED">
                    <progressbar type="danger" value="100" animate="false">
                        {{ 'properties.task.status.' + task.status | lowercase | translate }}
                    </progressbar>
                </div>

                <div ng-switch-when="REVOKED">
                    <progressbar type="danger" value="100" animate="false">
                        {{ 'properties.task.status.' + task.status | lowercase | translate }}
                    </progressbar>
                </div>
            </td>
            <td width="1em">
                <button class="close sr-only" type="button" title="{{ 'messages.cancel_task' | translate }}">×</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>