<div class="text-center" ng-if="!data.tasks.length">
    <span>No models running</span>
</div>

<div ng-if="data.tasks.length">
    <table class="table">
        <thead>
        <th width="3em" class="visible-lg">#</th>
        <th>Model</th>
        <th class="hidden-xs">Date</th>
        <th width="40%">Status</th>
        <th><span class="sr-only">Actions</span></th>
        </thead>
        <tbody>
        <tr ng-repeat="task in data.tasks | orderBy:'order'">
            <td class="visible-lg text-muted">
                {{ $index }}
            </td>
            <td>
                <a href="#">{{ task.model }}</a>
            </td>
            <td class="hidden-xs">
                {{ task.submitDate | date: 'short' }}
            </td>
            <td>
                <progressbar ng-if="task.remainingTime" value="100" type="success" animate="false"
                             class="progress-striped active">
                    Running <span ng-if="task.remainingTime" class="hidden-xs">(ETA {{ task.remainingTime }})</span>
                </progressbar>

                <progressbar ng-if="!task.remainingTime" value="100" type="warning" animate="false">
                    Queued
                </progressbar>
            </td>
            <td width="1em">
                <button class="close " title="Cancel task" type="button" ng-click="data.removeTask($index)">×</button>
            </td>
        </tr>
        </tbody>
        <tfoot ng-init="messages = []">
        <alert ng-repeat="message in messages">{{ message }}</alert>
        </tfoot>
    </table>
</div>