<table class="table-condensed">
    <tbody>
    <tr ng-repeat="i in range(1, options.rows)">
        <td class="text-center">
            <small class="text-muted">{{ i }}</small>
        </td>
        <td ng-repeat="j in range(1, options.columns)" ng-transclude-off>
            <select ng-model="value[options.rows * (i - 1) + j - 1]">
                <option ng-repeat="v in range(options.min, options.max)"
                        ng-value="[{{ i }}, {{ j }}, {{ v }}]">{{ v }}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td></td>
        <td ng-repeat="j in range(1, options.columns)" class="text-center">
            <small class="text-muted">{{ j }}</small>
        </td>
    </tr>
    </tbody>
</table>