<div ng-if="formData[field.options.related]" ng-repeat="relatedField in formData[field.options.related]"
     class="form-group">
  <label class="col-sm-2 control-label">{{ relatedField.text }}</label>

  <p ng-if="field.options.disabled" class="form-control-static">
    <span>{{ fieldValue[$index] }}</span>
  </p>

  <div ng-if="!field.options.disabled" class="col-sm-10">
    <input class="form-control" name="{{ field.id }}"
           ng-model="fieldValue[$index]"
           type="{{ field.options.type }}" step="{{ field.options.step || 'any' }}"
           ng-required="{{ field.options.required | lowercase }}"
           min="{{ field.options.min }}" max="{{ field.options.max }}"
           placeholder="{{ field.metadata.placeholder }}">
  </div>
</div>

<table ng-if="formData[field.options.rows_field] && formData[field.options.columns_field]">
  <tbody>
  <tr>
    <td></td>
    <td ng-repeat="col in formData[field.options.columns_field]" class="text-muted text-center">{{ col.text }}</td>
  </tr>
  <tr ng-repeat="row in formData[field.options.rows_field]">
    <td class="text-muted text-right">{{ row.text }}</td>
    <td ng-repeat="col in formData[field.options.columns_field]">
      <input class="form-control" name="{{ field.id }}"
             ng-model="fieldValue[$parent.$index * formData[field.options.columns_field].length + $index]"
             type="{{ field.options.type }}" step="{{ field.options.step || 'any' }}"
             ng-required="{{ field.options.required | lowercase }}"
             min="{{ field.options.min }}" max="{{ field.options.max }}"
             placeholder="{{ field.metadata.placeholder }}">
    </td>
  </tr>
  </tbody>
</table>
