<section>
    <div class="jumbotron">
        <div class="container">
            <h2 data-i18n="views.about.title"></h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum est quis turpis iaculis
                ullamcorper. Ut at diam vitae risus commodo interdum iaculis vel lacus. Duis vitae convallis velit.
                Integer a mi purus. Vestibulum rhoncus congue rutrum. Vestibulum ante ipsum primis in faucibus orci
                luctus et ultrices posuere cubilia Curae; Fusce bibendum, mi eu pellentesque tincidunt, libero urna
                accumsan leo, vitae varius nunc nulla quis ligula. Sed eget pharetra risus.
            </p>
        </div>
    </div>
</section>