<!DOCTYPE html>
<html{% block html_attribs %}{% endblock %}>
<head>
    <title>{% block page_title %}{% endblock %}</title>

    {% block metadata %}
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>

        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <meta name="format-detection" content="telephone=no"/>
        {% block extra_metadata %}{% endblock %}
    {% endblock %}

    {% assets "stylesheets" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% block extra_stylesheets %}{% endblock %}

    {% assets "header_scripts" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block bodyextra_header_scripts %}{% endblock %}
</head>
<body {% block body_attribs %}{% endblock %}>
{% block content %}{% endblock %}

{% assets "body_scripts" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% block extra_header_scripts %}{% endblock %}
</body>
</html>