{% extends "base.html" %}

{% block page_title %}{{_('GAMS Web Interface')}}{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">GAMS</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">{{_('Home')}}</a></li>
                    <li><a href="#about">{{_('About')}}</a></li>
                    <li><a href="#contact">{{_('Contact')}}</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="container"></div>
{% endblock %}
