{% extends "base.html" %}

{% block title %}GAMS Web Interface{% endblock %}

{% block stylesheets %}
    {% assets "vendor/normalize-css/normalize.css", "vendor/bootstrap/dist/css/bootstrap.css", "vendor/font-awesome-css/css/font-awesome.css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}

{% block header_scripts %}
    {% assets "vendor/modernizr/modernizr.js", "vendor/socket.io-client/dist/socket.io.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block extra_body_scripts %}
    <script src="static/vendor/requirejs/require.js" data-main="static/app/main"></script>
{% endblock %}

{% block content %}
    <div id="applicationHost"></div>
{% endblock %}
