/* Always show browser scrollbar to prevent page jumping */
html {
    overflow-y: scroll;
}

/* Fixed navbar margin */
#content {
    padding-top: 65px;
    padding-bottom: 90px;
}

/* When application is loading */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.splash {
    display: none;
}

[ng-cloak].splash {
    display: block !important;
}

/* Loading bar */
#loading-bar-spinner {
    top: 15px;
    left: 15px;
}

#loading-bar-spinner .spinner-icon {
    width: 20px;
    height: 20px;
    border-top-color: #777;
    border-left-color: #999;
}

#loading-bar .bar {
    background: #777;
}

#loading-bar .peg {
    -moz-box-shadow: #999 1px 0 6px 1px;
    -ms-box-shadow: #999 1px 0 6px 1px;
    -webkit-box-shadow: #999 1px 0 6px 1px;
    box-shadow: #999 1px 0 6px 1px;
}

/* Table: Progress bar in cell */
.table .progress {
    margin-bottom: 0px;
}

/* Form: Invalid fields */
input.ng-invalid {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}

/* Modal: Disable slide down animation */
.modal.fade {
    opacity: 1;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

/* Modal: custom dialog size */
.model-parameter-dialog .modal-dialog {
    width: 95%;
    max-width: 1000px;
}
